<img src="{{avatar_url}}" alt="{{name}}">
<h2>{{name}}</h2>
<h3>{{login}}</h3>
<hr>
<span class="octicon octicon-link text-muted"></span><a href="">{{blog}}</a><br>
<span class="octicon octicon-clock text-muted"></span>Joined on <span class="joined-on"></span>
<hr>
<div class="flex space-around even-children">
    <a class="stats" href="{{followers_url}}">
        <div class="number">{{followers}}</div>
        <span class="text-muted">Followers</span>
    </a>
    <a class="stats" href="{{starred_url}}">
        <div class="number">99</div>
        <span class="text-muted">Starred</span>
    </a>
    <a class="stats" href="{{following_url}}">
        <div class="number">{{following}}</div>
        <span class="text-muted">Following</span>
    </a>
</div>
