<img src="{{avatar_url}}" alt="{{name}}">
<h2>{{name}}</h2>
<h3>{{login}}</h3>
<hr>
{{#if company}}<p class="profile-info"><span class="octicon octicon-organization text-lighter-muted"></span>{{company}}</p>{{/if}}
{{#if location}}<p class="profile-info"><span class="octicon octicon-location text-lighter-muted"></span>{{location}}</p>{{/if}}
{{#if blog}}<p class="profile-info"><span class="octicon octicon-link text-lighter-muted"></span><a href="{{blog}}">{{blog}}</a></p>{{/if}}
<p class="profile-info"><span class="octicon octicon-clock text-lighter-muted"></span>Joined on <span class="joined-on"></span></p>
<hr>
<div class="flex space-around even-children">
    <a class="stats" href="{{followers_url}}">
        <div class="stats-number">{{followers}}</div>
        <span class="stats-desc">Followers</span>
    </a>
    <a class="stats" href="{{starred_url}}">
        <div class="stats-number starred">99</div>
        <span class="stats-desc">Starred</span>
    </a>
    <a class="stats" href="{{following_url}}">
        <div class="stats-number">{{following}}</div>
        <span class="stats-desc">Following</span>
    </a>
</div>
<hr>
<h4>Organizations</h4>

