<div class="repo flex space-between">
    <div>
        <a href="{{html_url}}"><h3>{{name}}</h3></a>
        <p class="text-muted">{{description}}</p>
        <p class="text-light-muted">Updated <span class="updated-time">{{update_time}}</span></p>
    </div>
    <div class="text-muted text-small">
        <span class=""><strong>{{language}}</strong></span>
        <span><span class="octicon octicon-star"></span> <strong>{{stargazers_count}}</strong></span>
        <span><span class="octicon octicon-git-branch"></span> <strong>{{forks_count}}</strong></span>
    </div>
</div>